@font-face {
  font-family: 'Nerd';
  src: url('/assets/font.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
  font-family:'Nerd';
}

body {
  cursor: none; /* Hide the default cursor */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide scrollbars */
  margin: 0; /* Remove default margin */
  background-color: #F5F5DC; /* Set the background color to white */
  height: 100dvh; /* Make the body cover the entire viewport height */
  position: relative; /* Allow absolute positioning of the fountain */
}

#cursor {
  position: absolute;
  background-color: transparent; /* Make the background transparent */
  pointer-events: none; /* Allow interaction with elements beneath the cursor */
  transition: transform 0.2s; /* Add transition effect for cursor movement */
}

.emoji {
  position: absolute;
  pointer-events: none; /* Allow interaction with elements beneath the emojis */
  animation: pulse 1s alternate infinite; /* Add pulsing animation to emojis */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Scale up and down for pulsing effect */
  }
}

.paralink {
  cursor: none;
  text-decoration: none;
  color: inherit;
}

#startButton {
  background: none;
  cursor: none;
  font-size: 1.5rem;
}

#startButton:hover {
  background-color: white;
}

.bio{
  font-size: 1.2rem;
  padding: 0 2rem;
  color: #818f9c;
}

p {
  line-height: 1.5rem;
}

.heading-one {
  color: #f79cac;
  padding: 0 2rem;
  line-height: 2rem;
}

.heading-two {
  color: #f79cac;
  padding: 0 2rem;
}

.social-link {
  font-size:1.8rem;
  line-height: 3rem; 
  padding: 2rem;
  color: #f79cac;
  z-index: 1;
}

.social-link:hover {
  cursor: default;
}

#pastelDiv {
  position: relative;
  height: calc(100% - 5rem);
  width: calc(100% - 5rem);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

#pastelDiv::after {
  content: '';
  position: absolute;
  width: 50%; 
  height: 50%;  
  background-size: cover; /* or contain, depending on your preference */
  z-index: 1;
}

#pastelDiv::after {
  bottom: 0;
  left: 75%;
  background: url('mandala.svg') no-repeat;
}


.page {
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .info {
    position: relative;
    top: 0%;
  }

  .bio{
    font-size: 1.1rem;
    color: #818f9c;
  }


  #pastelDiv {
    height: calc(100% - 4rem); /* Subtract double the gap size to maintain it on all sides */
    width: calc(100% - 4rem); /* Subtract double the gap size to maintain it on all sides */
  }

  #pastelDiv::after {
    width: 100%;
    height: 100%;
    top: 70%;
    left: 25%;
    opacity: 0.8;
  }
}
