html {
  overflow: hidden;
}

body {
  cursor: none; /* Hide the default cursor */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide scrollbars */
  margin: 0; /* Remove default margin */
  background-color: #F5F5DC; /* Set the background color to white */
  height: 100dvh; /* Make the body cover the entire viewport height */
  position: relative; /* Allow absolute positioning of the fountain */
}

#cursor {
  position: absolute;
  background-color: transparent; /* Make the background transparent */
  pointer-events: none; /* Allow interaction with elements beneath the cursor */
  transition: transform 0.2s; /* Add transition effect for cursor movement */
}

.emoji {
  position: absolute;
  pointer-events: none; /* Allow interaction with elements beneath the emojis */
  animation: pulse 1s alternate infinite; /* Add pulsing animation to emojis */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Scale up and down for pulsing effect */
  }
}

@keyframes fountain {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px); /* Move fountain up */
    opacity: 0; /* Fade out */
  }
}

#pastelDiv {
  height: calc(100% - 5rem); /* Subtract double the gap size to maintain it on all sides */
  width: calc(100% - 5rem); /* Subtract double the gap size to maintain it on all sides */
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #pastelDiv {
  height: calc(100% - 4rem); /* Subtract double the gap size to maintain it on all sides */
  width: calc(100% - 4rem); /* Subtract double the gap size to maintain it on all sides */
  }
}
